@import "./vuestic-sass";
@import "./icon-fonts";


.pointer{
	cursor: pointer;
}

.w-100{
	width: 100%;
}

.va-card{
	margin-bottom:1rem;
}

td.no-data{
	padding-top: 10px;
}

.va-medium-editor{
    border: 2px solid gray;
    padding: 1rem;
    border-radius: 4px;
    border-style: dashed;
    width: 100%;
}

.va-card__title{
	font-size: 0.8rem;
}

.va-chip__content{
	color:white;
}
.va-sidebar-item--active *{
	color:white !important;
}

.va-input__container{
	border-color: #b9b9b9 !important;
}
.va-input-wrapper__content{
	border:none !important;
}

a .fa-trash,
td .fa-trash{
	color:var(--va-danger);
}
a .fa-pencil{
	color: var(--va-info);
}

.va-card__title {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

  .color-white{
    color: white !important;
  }